$colorAccent: rgb(29, 98, 155);

$fontPrimary: "Roboto";

$spacingSmall: 5px;
$spacingMedium: 10px;
$spacingLarge: 20px;

$fontSizeExtraSmall: .6rem;
$fontSizeSmall: .8rem;
$fontSizeLarge: .8rem;

$iconSizeSmall: 22px;

$sizeButtonIcon: 10px;

$numIconCols: 3;

$iconPanelWidth: ($iconSizeSmall * $numIconCols) + ($spacingSmall * 2 * $numIconCols) + ($spacingSmall * 2);
$headerHeight: 40px;
$navHeight: 30px;
$highlightSize: 5px;

$transitionSlow: .4s;
