@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "./_variables.scss";
@import "~bootstrap/scss/mixins.scss";
@import "~bootstrap/scss/root.scss";
@import "~bootstrap/scss/reboot.scss";
@import "~bootstrap/scss/type.scss";
@import "~bootstrap/scss/images.scss";
// @import "~bootstrap/scss/code.scss";
@import "~bootstrap/scss/grid.scss";
// @import "~bootstrap/scss/tables.scss";
// @import "~bootstrap/scss/forms.scss";
@import "~bootstrap/scss/buttons.scss";
// @import "~bootstrap/scss/transitions.scss";
// @import "~bootstrap/scss/dropdown.scss";
// @import "~bootstrap/scss/button-group.scss";
// @import "~bootstrap/scss/input-group.scss";
// @import "~bootstrap/scss/custom-forms.scss";
// @import "~bootstrap/scss/nav.scss";
// @import "~bootstrap/scss/navbar.scss";
// @import "~bootstrap/scss/card.scss";
// @import "~bootstrap/scss/breadcrumb.scss";
// @import "~bootstrap/scss/pagination.scss";
// @import "~bootstrap/scss/badge.scss";
// @import "~bootstrap/scss/jumbotron.scss";
// @import "~bootstrap/scss/alert.scss";
// @import "~bootstrap/scss/progress.scss";
@import "~bootstrap/scss/media.scss";
// @import "~bootstrap/scss/list-group.scss";
// @import "~bootstrap/scss/close.scss";
// @import "~bootstrap/scss/toasts.scss";
// @import "~bootstrap/scss/modal.scss";
// @import "~bootstrap/scss/tooltip.scss";
// @import "~bootstrap/scss/popover.scss";
// @import "~bootstrap/scss/carousel.scss";
// @import "~bootstrap/scss/spinners.scss";
@import "~bootstrap/scss/utilities.scss";
// @import "~bootstrap/scss/print.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: $colorAccent;
    font-family: $fontPrimary;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: relative;
}
