.go-button-container {
    padding: 20px;
    background: #fff;
    margin: 20px 0;
    text-align: center;
    border-radius: 20px;
}

.number-input {
    margin: 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    text-align: center;
}

.go-button {
    border-radius: 3px;
    border: 1px solid #ccc;
    background: rgb(29, 98, 155);
    color: #fff;
}

h1 {
    font-size: 24px;
}